

// Position des divs et onglets
.tab > section > div
{
  float  : right;
  width  : 100%;
  margin : 2.5em 0 0 -100%;
}

.tab
{
  float : left;
  width : 100%;
  margin-top: 53px;
}

.tab > input:first-child + section > label
{
  margin-left: 150px;
}

// Cache des boutons radios et du contenu non des tab non actives
input
{
  display : none;
}

input:not(:checked) + section > div
{
  display : none;
}

// aspect des onglets
label
{
  float : left;
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.50);
  cursor: grab;

  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  color: rgba(240, 188, 198, 1);
}

label:hover
{
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(223, 214, 241, 1);

}

input:checked + section > label
{
  background-color: rgba(255, 255, 255, 0.86);
  color: rgba(196, 179, 229, 1);
  box-shadow: 2px 0px 12px rgba(66, 91, 138, .3);
}
