
    <div class="navbar">
      <div class="navbar-logo">
        <a href="#">THP LYON</a>
      </div>
      <div class="navbar-right">
        <span class="droptbn avatar" alt="avatar">
        <%= image_tag 'mcsolaar.png', :class => "avatar-small" %>
        </span>
        <div class="dropdown-content">
          <ul>
            <li><a href="#" class="Signin"><%= image_tag 'signin.png' %> Login</a></li>
            <li><a href="#" class="Signup"><%= image_tag 'signup.png' %> Profile</a></li>
            <li><a href="#" class="About"><%= image_tag 'about.png' %> About</a></li>
          </ul>
        </div>
      </div>
    </div>
